*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
section{
     margin: 0px 150px 150px 50px;
     text-align: center;
}
body{
    background-image: url(Assets/cursos-de-programacioÌn.jpg);
}
body::before{
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(39, 131, 111, 0.5);
    z-index: -1;
}
header{
    position: sticky;
    top: 0px;
    background-color: rgb(95, 95, 255);
    z-index: 1;
    font-weight: 900;
}
header nav{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-right: 60px;
}
nav img{
    width: 50px;
    border-radius: 50%;
}
header a{
    text-decoration: none;
    font-size: 20px;
    font-family: verdana;
    padding: 20px;
    display: block;

}
header a:hover{
    background-color: rgb(0,0,0,.3);
}
header li{
    list-style: none;
}
header nav ul{
    display: flex;    
    flex-wrap: wrap;
}
header nav ul li ul{
    flex-direction: column;
    position: absolute;
    /* background-color: lightskyblue; */
    background-color: rgb(95, 95, 255);
    width:200px;
    display: none;
}
header nav ul li ul a{
    padding-top: 15px;
    padding-bottom: 15px;
}
header nav ul li ul li{
    position: relative; 
}
header nav ul li ul li ul{
    position: absolute;
    top: 0px;
    left: 200px;  
}
header nav ul li:hover>ul{
    display: block;

}
article p{
    text-align: justify;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
section h2{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 30px;
    position: sticky;
    top: 64px;
    background-color: rgba(0, 0, 0);
    margin-bottom: 100px;
    margin-top: 50px;
}
h1{
    margin-top: 100px;
    font-size: 40px;
}
article ul{
    text-align: justify;
    padding-left: 50px;
    list-style: square;
    font-size: 18px;
}
article ul li{
    margin-top: 15px;
    margin-bottom: 15px;
}
footer{
    background-color: rgb(95, 95, 255);
    text-align: center;
}
footer a{
    text-decoration: none;  
}
footer li{
    list-style: none;
    margin: 0 20px 20px 20px; 
}
footer ul{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
footer ul li a{
    display: flex;
    flex-direction: column;
}
footer i:hover{
color: red;
font-size: 3.2em;
animation: fa-spin 3s infinite linear;
}
.general{
    width: 800px;
    height: 290px;
    margin-bottom: 60px;
}
.back{
    background-color: white;
}
.bord{
    border-radius: 50%;
}
.baner{
    background-image: url(Assets/baner.jpg);
    background-repeat: round;
    width: 100%;
    height: 160px;
}
.flecha{
display: flex;
justify-content: space-between;
align-items: center;
}
